# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log

# Environment variables
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
